<div class="row">
  <div class="col">
    <div class="row">
      <h4>Recibo Consulta</h4>
      <form class="form-inline ml-4 my-lg-0" [formGroup]="formBusqueda" (ngSubmit)="buscarHistorial()">
        <input *ngIf="!informePago" class="form-control mr-sm-2" type="text" placeholder="Historial ID" formControlName="busqueda">
        <button *ngIf="!informePago" class="btn btn-outline-success my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
  <div class="col text-right">
    <button *ngIf="informePago && !informe.pago" (click)="pagar()" class="btn mr-3 btn-outline-success my-sm-0" type="button">Pagar</button>
    <button *ngIf="informePago" (click)="reset()" class="btn btn-outline-danger my-sm-0" type="button">Cancelar</button>
  </div>
</div>
<hr>

<div class="alert alert-success animated fadeIn" role="alert" *ngIf="pagoTerminado">
  Pago Realizado Correctamente!
</div>

<app-cards *ngIf="!informePago" (id)="crearInforme($event)" [datos]="cardInfoFiltrado"></app-cards>

<div *ngIf="informePago">
  <h4>Costo de la consulta</h4>
  <table class="table">
    <thead>
      <th scope="col">Id</th>
      <th scope="col">Concepto</th>
      <th scope="col">Precio</th>
    </thead>
    <tbody>
      <tr>
        <th>CM_3</th>
        <td>Consulta General</td>
        <td *ngIf="informe.pagoConsulta !== true"> {{300 | currency}} </td>
        <td *ngIf="informe.pagoConsulta === true"> {{0 | currency}} </td>
      </tr>
      <tr *ngFor="let med of informe.medicamentosSurtidosP">
        <th>{{med.id}}</th>
        <td>Medicamento {{med.nombre}}</td>
        <td>{{ 0 | currency}}</td>
      </tr>
      <tr *ngFor="let med of informe.medicamentosSurtidos">
        <th>{{med.id}}</th>
        <td>Medicamento {{med.nombre}}</td>
        <td>{{med.precio | currency}}</td>
      </tr>
      <tr>
        <th colspan="2" >Total a pagar</th>
        <td> {{ precio | currency}} </td>
      </tr>
    </tbody>
  </table>
</div>
