<div class="row">
  <div class="col">
    <h4>Medicamentos</h4>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-primary mr-2"
            (click)="this.agregarMedicamento = !this.agregarMedicamento"
            *ngIf="!this.editarMedicamento && !this.agregarMedicamento && !busqueda">Agregar Medicamento</button>
    <button class="btn btn-outline-primary mr-2"
            (click)="this.editarMedicamento = !this.editarMedicamento"
            *ngIf="!this.agregarMedicamento && !this.editarMedicamento && !busqueda">Editar</button>
    <button class="btn btn-outline-primary"
            (click)="this.busqueda = !this.busqueda"
            *ngIf="!this.agregarMedicamento && !this.editarMedicamento && !busqueda">Buscar</button>

    <button type="button" class="btn btn-outline-danger mb-2"
            (click)="reset()"
            *ngIf="editarMedicamento || agregarMedicamento || busqueda">Cancelar</button>
  </div>
</div>

<hr>

<div class="alert alert-warning animated fadeIn" role="alert" *ngIf="campoInvalido">
  Algun campo no es correcto
</div>
<div class="alert alert-warning animated fadeIn" role="alert" *ngIf="medicamentoRegistrado">
  Ya existe un medicamento con este nombre / id
</div>
<div class="alert alert-warning animated fadeIn" role="alert" *ngIf="agotado">
  No contamos con el inventario
</div>

<form [formGroup]="formBusqueda" *ngIf="editarMedicamento || busqueda && !agregarMedicamento" class="form-inline my-2 my-lg-0" (ngSubmit)="buscarMedicamento()" >
  <div class="form-row">
    <input class="form-control mr-sm-2" type="text" placeholder="Buscar Medicamento" formControlName="id">
    <button type="submit" class="btn btn-primary mb-2 mr-2">Buscar</button>
  </div>
</form>

<form *ngIf="agregarMedicamento" [formGroup]="formMedicamento" (ngSubmit)="addMedicamento()">

  <div class="form-row">
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Id" formControlName="id" [class.is-invalid]="idValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Precio" formControlName="precio" [class.is-invalid]="precioValido">
    </div>
  </div>

  <label>Presentacion</label>
  <div class="form-row">
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="No Pastillas Por Envase" formControlName="envase" [class.is-invalid]="envaseValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Presentacion (g)" formControlName="presentacion" [class.is-invalid]="presentacionValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Disponibilidad" formControlName="disponibilidad" [class.is-invalid]="disponibilidad">
    </div>
  </div>

  <div class="form-inline">
    <button type="submit" class="btn btn-primary mb-2 mr-2">Agregar</button>
  </div>

</form>

<form *ngIf="updateMedicine" [formGroup]="formUpdate" (ngSubmit)="updateData()">

  <div class="form-row">
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Id" formControlName="id" readonly="readonly" [class.is-invalid]="idValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Precio" formControlName="precio" [class.is-invalid]="precioValido">
    </div>
  </div>

  <label>Presentacion</label>
  <div class="form-row">
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="No Pastillas Por Envase" formControlName="envase" [class.is-invalid]="envaseValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Presentacion (g)" formControlName="presentacion" [class.is-invalid]="presentacionValido">
    </div>
    <div class="form-group col-sm">
      <input type="text" class="form-control" placeholder="Disponibilidad" formControlName="disponibilidad" [class.is-invalid]="disponibilidad">
    </div>
  </div>

  <div class="form-inline">
    <button type="submit" class="btn btn-primary mb-2 mr-2">Actualizar</button>
  </div>

</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre </th>
    <th scope="col">Precio </th>
    <th scope="col">Envase</th>
    <th scope="col">Presentacion </th>
    <th scope="col">Disponibilidad </th>
    <th scope="col">Acciones </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of medicamentos; let i = index">
    <th scope="row">{{data.id}}</th>
    <td>{{data.nombre}}</td>
    <td>{{data.precio}}</td>
    <td>{{data.envase}}</td>
    <td>{{data.presentacion}}</td>
    <td>{{data.disponibilidad}}</td>
    <td>
      <button class="btn btn-outline-success mr-3" *ngIf="!editarMedicamento" (click)="compra(i)">Agregar</button>
      <button class="btn btn-outline-danger mr-3" *ngIf="editarMedicamento" (click)="eliminar(i)">Eliminar</button>
      <button class="btn btn-outline-warning" *ngIf="editarMedicamento" (click)="update(i)">Actualizar</button>
    </td>
  </tr>
  </tbody>
</table>
<br>

<div class="row pt-5">
  <div class="col">
    <h4>Historial Medico</h4>
  </div>
  <div class="col text-right" *ngIf="historialUsuario == null">
    <form class="form-inline my-2 my-lg-0" [formGroup]="formBusqueda" (ngSubmit)="buscarHistorial()">
      <input class="form-control mr-sm-2" type="text" placeholder="Id" formControlName="id">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</div>
<hr>
<div class="row" *ngIf="historialUsuario != null">
  <div class="col">
    <h5>Tratamiento</h5>
    <p>{{this.historialUsuario.tratamiento}}</p>
  </div>
  <div class="col">
    <h5>Medicamentos entregados</h5>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">Id </th>
      <th scope="col">Nombre </th>
      <th scope="col">Precio </th>
      <th scope="col">Envase</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of historialUsuario.medicamentosSurtidos; let i = index">
      <th scope="row">{{data.id}}</th>
      <td>{{data.nombre}}</td>
      <td>{{data.precio}}</td>
      <td>{{data.envase}}</td>
    </tr>
    </tbody>
    </table>
  </div>
</div>

<div class="alert alert-warning animated fadeIn" role="alert" *ngIf="historialNotFound">
  No se encontro el historial
</div>

<div class="row pt-5" *ngIf="historialUsuario != null">
  <div class="col">
    <h4>Cesta</h4>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-primary mr-2"
            (click)="terminarCompra()">Comprar</button>
    <button class="btn btn-outline-danger mr-2"
            (click)="this.historialUsuario = null">Cancelar</button>
  </div>
</div>

<table class="table" *ngIf="historialUsuario != null">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre </th>
    <th scope="col">Precio </th>
    <th scope="col">Envase</th>
    <th scope="col">Presentacion </th>
    <th scope="col">Acciones </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of cesta; let i = index">
    <th scope="row">{{data.id}}</th>
    <td>{{data.nombre}}</td>
    <td>{{data.precio}}</td>
    <td>{{data.envase}}</td>
    <td>{{data.presentacion}}</td>
    <td>
      <button class="btn btn-outline-danger mr-2" (click)="eliminarCesta(i)">Eliminar</button>
    </td>
  </tr>
  </tbody>
</table>
