<div class="container-fluid ">
    <div class="card-columns ">
        <div class="card mb-3" style="max-width: 440px;" *ngFor="let item of datos; let i = index" (click)="getId(i)">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.header }}</h5>
                        <p class="card-text">ID: {{ item.id }} <br> {{ item.uno }} <br> {{ item.dos }}</p>
                        <p class="card-text"><small class="text-muted">{{ item.small }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
