<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3> {{ datos.name }} </h3>
      <h5> ID: {{ datos.id }} </h5>
    </div>
    <div class="col text-right">
      <h5>Telefono: {{ datos.phones | search }} </h5>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">


    <div class="col">
      <h4> Datos Personales</h4>
      <hr>
      <p><b>Nombre:</b> {{ datos.name }} </p>
      <p><b>Fecha Nacimiento:</b> {{ datos.birthday }} </p>
      <p><b>Numeros Telefonicos:</b></p>

      <ul class="list-group list-group-horizontal">
        <li class="list-group-item" *ngFor="let item of datos.phones">
          <b> {{ item.type }}: </b> {{ item.phone }}
        </li>
      </ul>

    </div>


    <div class="col">
      <h4> Doctores </h4>
      <hr>
      <p *ngIf="doctor.length === 0">Aun no se ha asignado un doctor</p>
      <div class="row" *ngFor="let item of doctor">
        <div class="col">
          <p>{{item.name}}</p>
        </div>
        <div class="col text-right">
          <button class="btn btn-outline-primary" (click)="verAgenda(item.id)">Agenda</button>
        </div>
      </div>

      <br><br>


      <h4> Proximas Citas </h4>
      <hr>
      <p>Aun no se ha agendado una Cita</p>
    </div>
  </div>
</div>
