<div class="row">
  <div class="col">
    <h4>Doctores</h4>
  </div>
  <div class="col text-right">
    <button class="btn btn-outline-primary"
            (click)="this.registrarDoctor = !this.registrarDoctor"
            *ngIf="!registrarDoctor">Agregar</button>
    <button type="button" class="btn btn-outline-danger mb-2"
            (click)="reset()"
            *ngIf="registrarDoctor">Cancelar</button>
  </div>
</div>
<hr>

<div class="container-fluid" *ngIf="registrarDoctor">

  <div class="alert alert-warning animated fadeIn" role="alert" *ngIf="alertaCrear">
    Faltan Algunos elementos por llenar ....
  </div>

  <form [formGroup]="formaDoctor" (ngSubmit)="registrar()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Nombre Completo" formControlName="nombre" [class.is-invalid]="nombreValid">
      </div>
      <div class="form-group col-md-3">
        <input type="text" class="form-control" placeholder="Fecha Nacimiento" formControlName="cumpleanos" [class.is-invalid]="cumpleanosValid">
      </div>
      <div class="form-group col-md-3 row">
        <label class="col-sm-2 col-form-label">Sexo </label>
        <select class="form-control col" formControlName="sexo" required>
          <option *ngFor="let state of sexo" [ngValue]="state">
            {{ state }}
          </option>
        </select>
      </div>
    </div>

    <label>Telefonos</label>
    <div class="form-row">
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Casa" formControlName="casa" [class.is-invalid]="casaValid">
      </div>
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Personal" formControlName="personal">
      </div>
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Trabajo" formControlName="trabajo">
      </div>
    </div>

    <label>Especialidad</label>
    <div class="form-row">
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Especialidad 1" formControlName="especialidad1" [class.is-invalid]="especialidadValid1">
      </div>
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Especialidad 2" formControlName="especialidad2">
      </div>
      <div class="form-group col-sm">
        <input type="text" class="form-control" placeholder="Especialidad 3" formControlName="especialidad3">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Correo Electronico</label>
        <input type="text" class="form-control" [email]="true" placeholder="ejemplo@hotmail.com" formControlName="correo" [class.is-invalid]="correoValid">
      </div>
      <div class="form-group col-md-6">
        <label>Contraseña</label>
        <input type="password" class="form-control" placeholder="*********" formControlName="contrasena" [class.is-invalid]="contrasenaValid">
      </div>
    </div>

    <div class="form-inline">
      <button type="submit" class="btn btn-primary mb-2 mr-2">Crear Cuenta</button>
    </div>
  </form>
</div>

<app-cards [datos]="cards"></app-cards>
<br><br>

